In [1]:
import pandas as pd
from datetime import datetime

In [2]:
data = pd.read_csv("C:/Users/user/Desktop/R202101/R20210105.csv",encoding='cp949')

In [3]:
data

,Unnamed: 0,기준일자,요일명,rse수집시분초,rse_id,가상obu_id,dsrc차종구분명,노선번호,도로이정,dsrc차종구분코드
0,1,2021-01-05,화요일,213153,2100401014169,79,1종,10,416.9,1
1,2,2021-01-05,화요일,211916,2100401013936,79,1종,10,393.6,1
2,3,2021-01-05,화요일,153214,2100401014169,174,1종,10,416.9,1
3,4,2021-01-05,화요일,150130,2100401013936,174,1종,10,393.6,1
4,5,2021-01-05,화요일,44839,2100401014169,659,2종,10,416.9,2
...,...,...,...,...,...,...,...,...,...,...
31359,31360,2021-01-05,화요일,24556,2100401013936,1840706,3종,10,393.6,3
31360,31361,2021-01-05,화요일,133003,2100401014169,1840911,1종,10,416.9,1
31361,31362,2021-01-05,화요일,113307,2100401013936,1840911,1종,10,393.6,1
31362,31363,2021-01-05,화요일,131615,2100401014169,1841031,1종,10,416.9,1
31363,31364,2021-01-05,화요일,102431,2100401013936,1841031,1종,10,393.6,1

In [4]:
data = data.drop(['Unnamed: 0'],axis=1)

In [5]:
# data = data.sort_values(by=['가상obu_id','rse수집시분초']).reset_index(drop=True)

In [6]:
# data.head(7)

In [7]:
data['rse수집시분초'] = data['rse수집시분초'].apply(lambda x :str(x).zfill(6))

In [8]:
# data

In [9]:
cols= ['기준일자','rse수집시분초']
data['년월일시분초']=data[cols].apply(lambda row:' '.join(row.values.astype(str)),axis=1)

In [10]:
# data.tail(15)

In [11]:
data['년월일시분초'] = pd.to_datetime(data['년월일시분초'], format = '%Y-%m-%d %H%M%S')

In [12]:
# data.head(20)

In [13]:
# data.info()

In [14]:
# def str_to_datetime(date):
#     change = datetime(2020,1,1,int(date[0:1]),int(date[2:4]),int(date[5:7]))
#     return change

In [15]:
obu_id_list = []
for obu_id in data['가상obu_id']:
    if obu_id not in obu_id_list:   # 중복 삭제
        obu_id_list.append(obu_id)

In [16]:
# obu_id_list

In [17]:
main_result = pd.DataFrame(columns=['rse수집시분초차이','가상obu_id'])
main_result

Empty DataFrame
Columns: [rse수집시분초차이, 가상obu_id]
Index: []

In [18]:
for obu_id in obu_id_list:
    df_test = data.loc[data['가상obu_id']==obu_id]
    #df_test = df_test.sort_values(by=['rse수집시분초'], ascending=False)
    diff_list = []
    for i in range(int(len(df_test['rse수집시분초'])/2)):
#         diff = str_to_datetime(df_test['rse수집시분초'].iloc[i*2]) - str_to_datetime(df_test['rse수집시분초'].iloc[i*2+1])
        diff = (df_test['년월일시분초'].iloc[i*2]) - (df_test['년월일시분초'].iloc[i*2+1])
        diff_list.append(diff)
        
        df_result = pd.DataFrame({'가상obu_id':obu_id,'rse수집시분초차이':diff_list})
        
        main_result = pd.concat([df_result, main_result], ignore_index=True)

In [19]:
# main_result

In [20]:
# main_result=main_result[main_result.날자 !=-1.0]

In [21]:
main_result=main_result.sort_values(by=['가상obu_id'])

In [22]:
car_id=data[['가상obu_id','dsrc차종구분코드']]

In [23]:
df=pd.merge(main_result,car_id,left_on='가상obu_id',right_on='가상obu_id')

In [24]:
# main_result.tail(50)

In [25]:
df=df.drop_duplicates()

In [26]:
# df

In [27]:
df['rse수집시분초차이'] = df['rse수집시분초차이'].astype(str)
df['fruit'] = df.rse수집시분초차이.str.split(' ').str[0]
df['fruit1'] = df.rse수집시분초차이.str.split(' ').str[1]
df['수집시간차이'] = df.rse수집시분초차이.str.split(' ').str[2]

df = df.drop(['fruit','fruit1','rse수집시분초차이'],axis=1)

In [28]:
df = df[['가상obu_id','수집시간차이','dsrc차종구분코드']]

In [29]:
df.to_csv("C:/Users/User/Desktop/속도전처리파일/d210105.csv",index=False)

In [30]:
df = pd.read_csv("C:/Users/User/Desktop/속도전처리파일/d210105.csv")

In [31]:
# df.head(50)