In [1]:
import pandas as pd
import datetime as datetime
import time

In [2]:
df = pd.read_csv("C:/Users/User/Desktop/속도전처리파일/d210101.csv")

In [3]:
df

       가상obu_id    수집시간차이  dsrc차종구분코드
0            81  00:14:29           1
1           134  00:27:30           1
2           251  00:16:23           1
3           269  00:17:02           1
4           335  00:21:38           1
...         ...       ...         ...
16138   1556064  00:15:42           6
16139   1556130  00:15:19           1
16140   1556282  00:12:30           1
16141   1556341  00:14:36           1
16142   1556391  00:16:47           1

[16143 rows x 3 columns]

In [4]:
df['시간포맷']=pd.to_datetime(df['수집시간차이'], format = '%H:%M:%S')

In [5]:
df['시간포맷'] = df['시간포맷'].astype(str)

In [6]:
df

       가상obu_id    수집시간차이  dsrc차종구분코드                 시간포맷
0            81  00:14:29           1  1900-01-01 00:14:29
1           134  00:27:30           1  1900-01-01 00:27:30
2           251  00:16:23           1  1900-01-01 00:16:23
3           269  00:17:02           1  1900-01-01 00:17:02
4           335  00:21:38           1  1900-01-01 00:21:38
...         ...       ...         ...                  ...
16138   1556064  00:15:42           6  1900-01-01 00:15:42
16139   1556130  00:15:19           1  1900-01-01 00:15:19
16140   1556282  00:12:30           1  1900-01-01 00:12:30
16141   1556341  00:14:36           1  1900-01-01 00:14:36
16142   1556391  00:16:47           1  1900-01-01 00:16:47

[16143 rows x 4 columns]

In [7]:
# def str_to_datetime(date):
#     change = datetime(2020,1,1,int(date[0:1]),int(date[2:4]),int(date[5:7]))
#     return change

In [8]:
def setDatetime(df):
    s = datetime.datetime.strptime(str(df.시간포맷),'%Y-%m-%d %H:%M:%S')
    a= datetime.datetime.strptime(str('1900-01-01 00:00:00'),'%Y-%m-%d %H:%M:%S')
    return (s-a).total_seconds()

df['execution_time'] = df.apply(setDatetime,axis=1)

In [9]:
se=df['execution_time'].mean()

In [10]:
str(datetime.timedelta(seconds=se))

'0:52:09.704454'

In [11]:
# 화물차4종, 특수5종 합체 (4에 5를 더함)

In [12]:
df=df.replace({'dsrc차종구분코드':5},4)

In [13]:
groups = df.groupby('dsrc차종구분코드',as_index=False)

In [14]:
groups.size()

   dsrc차종구분코드   size
0           0     23
1           1  13645
2           2     91
3           3   1673
4           4    421
5           6    290

In [15]:
k=groups.mean()

In [16]:
car_num=k.pop('dsrc차종구분코드')

In [17]:
list_car =[]
for i in k['execution_time']:
    list_car.append(str(datetime.timedelta(seconds=i)))

In [18]:
list_car

['0:24:43.695652',
 '0:51:22.058630',
 '1:34:10.197802',
 '0:53:22.298864',
 '1:10:11.021378',
 '0:45:22.586207']

In [19]:
data = pd.DataFrame({
    'dsrc차종구분코드':car_num,
    '시간평균':list_car
})
data

   dsrc차종구분코드            시간평균
0           0  0:24:43.695652
1           1  0:51:22.058630
2           2  1:34:10.197802
3           3  0:53:22.298864
4           4  1:10:11.021378
5           6  0:45:22.586207